.leaflet-container {
  background: #0a1929 !important;
}

.drop-marker {
  animation: drop 0.5s ease;
}

@keyframes drop {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
